<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrome Dinosaur Game</title>
    <link rel="stylesheet" href="/static/css/dino.css">
    <script src="/static/js/dino.js"></script>
    <script src="/static/js/test.js"></script>
</head>
<body>
    <h1>Chrome Dinosaur Game</h1>
    <canvas id="board"></canvas>
    <img src="http://localhost:5000/video_feed" alt="Video Stream">
    <h2 id="status">Waiting for gesture...</h2>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Gesture Controlled Dino Game</title>-->
<!--</head>-->
<!--<body>-->
<!--    <script src="{{ url_for('static', filename='test.js') }}"></script>-->
<!--    <h2 id="status">Waiting for gesture...</h2>-->
<!--    <h1>Gesture Controlled Dino Game</h1>-->
<!--    <img src="http://localhost:5000/video_feed" alt="Video Stream" />-->
<!--</body>-->
<!--</html>-->